* {
    box-sizing: border-box;
    margin: 0px;
}
a {
    color: #9A9A9A;
    font-family: 'Open-Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

font-placeholder {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
}

colors-placeholder {
    color: #979797;
    color: #FFFFFF;
    color: #000000;
    color: #A9A9A9;
    color: #272727;
    color: #B6B6B6;
    color: #232323;
    color: #D7D7D7;
    color: #EEEDED;
    color: #EAEAEA;
    color: #00FFE9;
    color: #74FDF2;
    color: #00FFE9;
    color: #EEEEEE;
    color: #FCFCFC;
    color: #ECECEC;
    color: #FFFCFC;
    color: #9A9A9A;
    color: #6C6868;
    color: #383737;
    color: #777777;
    color: #202020;
    color: #D8D8D8;
}

@media (max-width: 700px){

    #north-nav-bar {
        margin-left: 5vw;
        display: inline-flex;
        width: 90%;
        border-bottom-style: solid;
        border-bottom-color: #D8D8D8;
        border-width: 1px;
        padding: 2vh;
    }

    #title-box {
        font-family: 'Lora', serif;
        font-size: 16.8px;
        color: #272727;
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
    }

    #main-body {
        position: relative;
        width: 90%;
        height: 75%;
        padding: 2vh;
    }

    #left-side-main {
        padding-top: 5vh;
        display: inline-block;
        width: 100%;
        height: 75%;
        position: relative;
    }

    #right-side-main {
        position: relative;
        padding-top: 5vh;
        padding-left: inherit;
        float: right;
        width: 100%;
    }

    #top-triangle {
        width: 0;
        height: 0;
        transform: rotate(171deg);
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;
        border-bottom: 250px solid #74FDF2;
        top: 199px;
        left: 15px;
        position: absolute;
    }

    #top-image-box {
        position: absolute;
        width: 319px;
        height: 319px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: 175px;
        margin-top: 0px;
        margin-left: 0px;
        top: 204px;
        opacity: .5;
        transform: skew(48deg, -16deg) rotate(6deg);
    }

    #top-image {
        position: absolute;
        width: 323px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: -74px;
        top: -90px;
        margin-top: 0px;
        margin-left: 0px;
        transform: skew(-40deg, 0deg) rotate(-57deg);
        opacity: .5;
    }

    #back-triangle {
        width: 0;
        height: 0;
        transform: rotate(6deg);    
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;  
        border-bottom: 260px solid #D8D8D8;
        opacity: .5;
    }

    #back-image-box {
        position: relative;
        width: 392px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: 88px;
        margin-top: 0px;
        margin-left: 0px;
        top: -273px;
        opacity: .5;
        transform: skew(-37deg, 0deg) rotate(6deg);
    }

    #back-image {
        position: relative;
        width: 729px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: -561px;
        margin-top: 0px;
        margin-left: 0px;
        transform: skew(58.5deg, 0deg) rotate(0deg);
        opacity: .5;
    }

    #p-text {
        position: inherit;
        font-size: 13px;
        text-align: center;
        margin-left: 45px;
        width: 300px;
    }

    .add-data-block {
        font-family: 'Lora', serif;
        font-size: 16px;
        opacity: .5;
        width: 300px;
        height: 10%;
        margin: 1vh;
        padding-left: 1vh;
        margin-left: 5vh;
    }

    #add-bio {
        height: 50%;
        padding-bottom: 20vh;
    }

    #save-changes{
        background-color: #74FDF2;
        border: none;
        font-size: 12px;
        padding: .75vh;
    }

    #devmountain {
        color: #74FDF2;
    }

    #spacer-section {
        height: 55vh;
    }

    #footer-nav-bar {
        display: inline-block;
        border-top-style: solid;
        border-top-color: #EEEDED;
        border-width: 2px;
        margin-left: 5vw;
        display: -webkit-inline-box;
        width: 90%;
        height: 10%;
        padding: 2vh;
    }

    .bottom-nav-bar-display {
        padding-left: 1vw;
        padding-right: 8vw;
    }

}

@media (min-width: 700px){

    #north-nav-bar {
        margin-left: 5vw;
        display: inline-flex;
        width: 90%;
        border-bottom-style: solid;
        border-bottom-color: #D8D8D8;
        border-width: 1px;
        padding: 2vh;
    }

    #title-box {
        font-family: 'Lora', serif;
        font-size: 16.8px;
        color: #272727;
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
    }
    #main-body {
        position: relative;
        width: 90%;
        height: 75%;
        padding: 2vh;
    }
    #left-side-main {
        padding-top: 5vh;
        display: inline-block;
        width: 50%;
        height: 75%;
        position: relative;
    }
    #right-side-main {
        position: relative;
        padding-top: 5vh;
        float: right;
        width: 40%;
        height: 487px;
    }
    #top-triangle {
        width: 0;
        height: 0;
        transform: rotate(171deg);    
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;  
        border-bottom: 250px solid #74FDF2;
        position: relative;
        bottom: 383px;
        left: 15px;

    }
    #top-image-box {
        position: relative;
        width: 319px;
        height: 319px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: 175px;
        margin-top: 0px;
        margin-left: 0px;
        top: -628px;
        opacity: .5;
        transform: skew(48deg, -16deg) rotate(6deg);
    }

    #top-image {
        position: absolute;
        width: 323px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: -74px;
        top: -90px;
        margin-top: 0px;
        margin-left: 0px;
        transform: skew(-40deg, 0deg) rotate(-57deg);
        opacity: .5;
    }
    #back-triangle {
        width: 0;
        height: 0;
        transform: rotate(6deg);    
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;  
        border-bottom: 260px solid #D8D8D8;
        opacity: .5;

    }
    #back-image-box {
        position: relative;
        width: 392px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: 88px;
        margin-top: 0px;
        margin-left: 0px;
        top: -273px;
        opacity: .5;
        transform: skew(-37deg, 0deg) rotate(6deg);
    }

    #back-image {
        position: relative;
        width: 729px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: -561px;
        margin-top: 0px;
        margin-left: 0px;
        transform: skew(58.5deg, 0deg) rotate(0deg);
        opacity: .5;
    }
    .add-data-block {
        font-family: 'Lora', serif;
        font-size: 16px;
        opacity: .5;
        width: 80%;
        height: 10%;
        margin: 1vh;
        padding-left: 1vh;
        margin-left: 5vh;
    }
    #add-bio {
        height: 50%;
        padding-bottom: 20vh;
    }
    #save-changes{
        background-color: #74FDF2;
        border: none;
        font-size: 12px;
        padding: .75vh;
    }
    p {
        font-size: 13px;
        text-align: center;
    }
    #devmountain {
        color: #74FDF2;
    }
    #spacer-section {
        height: 15vh;
    }
    #footer-nav-bar {
        display: inline-block;
        border-top-style: solid;
        border-top-color: #EEEDED;
        border-width: 2px;
        margin-left: 5vw;
        display: -webkit-inline-box;
        width: 90%;
        height: 10%;
        padding: 2vh;
    }
    .bottom-nav-bar-display {
        padding-left: 1vw;
        padding-right: 26vw;
    }

}

@media (min-width: 1000px){

    #north-nav-bar {
        margin-left: 5vw;
        display: inline-flex;
        width: 90%;
        border-bottom-style: solid;
        border-bottom-color: #D8D8D8;
        border-width: 1px;
        padding: 2vh;
    }

    #title-box {
        font-family: 'Lora', serif;
        font-size: 16.8px;
        color: #272727;
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
    }
    #main-body {
        position: relative;
        width: 90%;
        height: 75%;
        padding: 2vh;
    }
    #left-side-main {
        padding-top: 5vh;
        display: inline-block;
        width: 50%;
        height: 75%;
    }
    #right-side-main {
        position: relative;
        padding-top: 5vh;
        float: right;
        width: 30%;
        height: 487px;
    }
    #top-triangle {
        width: 0;
        height: 0;
        transform: rotate(171deg);    
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;  
        border-bottom: 250px solid #74FDF2;
        position: relative;

    }
    #top-image-box {
        position: relative;
        width: 319px;
        height: 319px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: 175px;
        margin-top: 0px;
        margin-left: 0px;
        opacity: .5;
        transform: skew(48deg, -16deg) rotate(6deg);
    }

    #top-image {
        position: absolute;
        width: 323px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: -74px;
        top: -90px;
        margin-top: 0px;
        margin-left: 0px;
        transform: skew(-40deg, 0deg) rotate(-57deg);
        opacity: .5;
    }
    #back-triangle {
        width: 0;
        height: 0;
        transform: rotate(6deg);    
        border-left: 180px solid transparent;
        border-right: 180px solid transparent;  
        border-bottom: 260px solid #D8D8D8;
        opacity: .5;
    }
    #back-image-box {
        position: relative;
        width: 392px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: 88px;
        margin-top: 0px;
        margin-left: 0px;
        top: -273px;
        opacity: .5;
        transform: skew(-37deg, 0deg) rotate(6deg);
    }

    #back-image {
        position: relative;
        width: 729px;
        height: 275px;
        margin: 0;
        display: block;
        overflow: hidden;
        left: -561px;
        margin-top: 0px;
        margin-left: 0px;
        transform: skew(58.5deg, 0deg) rotate(0deg);
        opacity: .5;
    }
    .add-data-block {
        font-family: 'Lora', serif;
        font-size: 16px;
        opacity: .5;
        width: 80%;
        height: 10%;
        margin: 1vh;
        padding-left: 1vh;
        margin-left: 5vh;
    }
    #add-bio {
        height: 50%;
        padding-bottom: 20vh;
    }
    #save-changes{
        background-color: #74FDF2;
        border: none;
        font-size: 12px;
        padding: .75vh;
    }
    p {
        font-size: 13px;
        text-align: center;
    }
    #devmountain {
        color: #74FDF2;
    }
    #spacer-section {
        height: 15vh;
    }
    #footer-nav-bar {
        display: inline-block;
        border-top-style: solid;
        border-top-color: #EEEDED;
        border-width: 2px;
        margin-left: 5vw;
        display: -webkit-inline-box;
        width: 90%;
        height: 10%;
        padding: 2vh;
    }
    .bottom-nav-bar-display {
        padding-left: 1vw;
        padding-right: 30vw;
    }

}